/*
	Author: Ethan Gardner
	File: styles.css
	Date: 10.22.2019
	Project: My Website
*/
/* Structural Styles */
body {
    font-family: 'Rubik', sans-serif;
	margin: 20px 0px 0px 0px;
	background-color: #93b5b3;
	box-sizing: border-box;
	color: #63707e;
}
.container {
		width: 90%;
		margin: auto;
		max-width: 1300px;
		background-color: #f2f6f5;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
/*Header Styles*/
header {
	background-color: #c8dad3;
}
header h1 {
	padding: 60px 40px 50px 40px;
	margin-bottom: 0px;
	font-size: 6em;
	text-align: center;
}
/*Navigation Styles*/
.navbar {
	overflow: hidden;
	background-color: #63707e;
}
.navbar a {
	font-size: 1em;
	color: #f6f6f6;
	text-align: center;
	padding: 10px 30px;
	text-decoration: none;
	float: left;
}
.navbar a:hover {
	background-color: #dedede;
}
/*Column Styles*/
.cols {
	padding: 10px 10px 10px 10px;
	line-height: 1.5;
}
.col1, .col2, .col3, .col4 {
	float: left;
	width: 50%;
}
.button {
  background-color: grey; /*background image*/ 
  border: none;
  color: white;
  text-align: center;
  font-size: 40px;
  opacity: 0.5;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  padding: 40%;
}
.button:hover {
	opacity: 1
}
/*Footer Styles*/
footer {
	text-align: center;
	color:  lightgrey;  			
}
footer p {
	padding: 10px 10px;
}
footer a {
	text-decoration: none;
	color: lightgrey;				
}

