/*
	Author:      Ethan Gardner
	Due_Date:    10.7.2019
	Assignment:  Responsive Travel Website
	File:        styles.css
*/

/* Structural Styles */
body {
	font-family: 'Noto Sans JP', sans-serif;
	margin: 50px 0px 40px 0px ;  	
	background-color: #64b2cd ; 
	box-sizing: border-box;
	color: #6F4E37 ;
}	
.container {
	width: 90%;		
	margin: auto;
	max-width: 1200px;
	background-color: #d9eeec; 
}

.clearfix:after  {
	content: "";
	display: block;
	clear: both;
}

/*Header Styles*/
header { 
	background-color: #3c70a4;
}
header h1 {
	padding:90px 55px 125px 35px ;    
	margin-bottom:0px ;
	font-size:5em ;
	color: white;
	text-align: center;
}

/*Navigation Styles*/
.navbar  {
	overflow: hidden;
	background-color: #da9833;
}
.navbar a {
	float: right;
	font-size: 1em;
	color: white;
	text-align: center;
	padding: 14px 14px;		
	text-decoration: none;
}
.dropdown {
	float: right;
	overflow: hidden;
}
.dropdown .dropbtn {
	cursor: pointer;
	font-size: 1em;
	border: none;
	outline: none;
	color: white;
	padding: 11.5px 13px;		
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
   background-color: #6F4E37 ;  
}
.dropdown-content, #navbarBurger{
	display: none;
	position: absolute; 
	background-color:#FBF6D9  ;		
	min-width: 160px ;		
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) ; 		
	z-index: 1;		
}
.dropdown-content a, #navbarBurger a {
	float: none;
	color: #6F4E37  ;    	
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a:hover, #navbarBurger a:hover {
	background-color: white ; 		
}
.show {
	display: block;
}

#navbarBurger, .navbarBurger {
	display: none;
}
/* Content Styles */
.content {
	line-height: 2em;
	padding: 10px 0px 10px 0px;
}
.content p { 
	padding: 10px;
}
/*Column Styles*/
.cols {
	padding: 30px 10px 30px 10px ;			/**/
	line-height: 1.5;   
}
.col1, .col2, .col3 {
	float: left;
	width: 30%;
	margin-right: 5%
}
.col1 h2, .col2 h2, .col3 h2{
	text-align: center;
	background-image: linear-gradient(to bottom right, #3c9d9b, #c0ffb3);
	color: white;
	
}
.col3 {
	margin-right: 0%;
}
img {
	width: 100%;
	height: 225px;
	margin:  0 0 0px 0 ; 		/**/
}

/*Main Content Styles*/
.main-content {
	width: 65%;
	float: left;
	margin-right: 5%;
	line-height: 2em;
}
.main-content p {
	padding: 10px 0px 10px 0px;	
}

/*Sidebar Styles*/
.sidebar {
	width: 30% ;  		
	float: left;
	color: white  ;   		
}
.sidebox-1 {
	background-color: #3c70a4 ;  	/**/
	padding: 20px ; 			/**/
	font-size:  13px;  			/**/
	margin: 0 0 40px 0	;           /**/
}
.sidebox-2 {
	background-color:  #3c70a9 ;  	/**/
	padding: 20px  ; 			/**/
	font-size:  13px;  			/**/
	margin: 0 0 15px 0		;           /**/
}

/*Footer Styles*/
footer {
	text-align: center;
	color:  lightgrey  ;  			/**/
}
footer p {
	padding-top: 15px ;
}
footer a {
	text-decoration: none;
	color: lightgrey ;				/**/
}

/*Responsive Styles: Big-Small */
@media screen and (max-width: 850px) {
	header h1  {
		font-size:  3em;    /**/
	}
	.col1  {
		float: left;
		width: 45%; 		/**/
	}
	.col2  {
		width: 45%;
	}
	.col3  {
		width: 95%;
	}
}

@media screen and (max-width: 580px) {
	header {
		padding: 5px  ;   		/**/
	}
	header h1 {
		font-size: 2em;
	}
	
	/* Dropdown Button */
	.dropbtn {
		background-color: #8eb716;			
		color: white  ;  				
		padding: 16px ; 				
		font-size: 16px;  			
		border:  1px black solid;  			
		cursor: pointer;
		margin: auto;
		border-radius: 5px;
	}
	
	/* Dropdown Button on Hover and Focus */
	.dropbtn:hover, .dropbtn:focus {
		background-color:  white; 			
	}
	#navbarBurger {
		padding: 10px; 				
		margin: 10px; 				
		overflow: hidden;
	}
	#navbarBurger a {
		padding: 5px;
	}
	.navbar {
		display: none;
	}
	.showX, .navbarBurger {
		display: block !important;
	}
	.col1, .col2 ,.col3,.col4 {
		width: 95%;
	}
}
/* Forms Styles */
.forms_container {
	border-radius: 5px;
	background-color: #f5f5f5;
	padding: 20px; 
}
input[type=submit]:hover {
	background-color: #45a049;
}
input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1.5em;
}
input[type=text]:focus {
	border: 3px solid #555;
}  
input[type=text], select, textarea, input[type=email], input[type=tel] {
	width: 39%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}
input[type=number] {
	width: 20%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}
input[type=radio] {
	width: 15%;
}
#subject {
	width: 97.5%;
}
.radioText {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.radioText input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radioText:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radioText input:checked ~ .checkmark {
	background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioText input:checked ~ .checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.radioText .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}